body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #F6F4F3;
    overflow: hidden;
}

a {
    color: #00B7FF;
}

.cursor {
    width: 20px;
    height: 20px;
    background-color: red;
    position: fixed;
    z-index: 1;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

.game {
    width: 250px;
    height: 170px;
    background-color: #D7EEF4;
    border: 3px solid #87CDDE;
}

.selected {
    background-color: #D9ECF9;
    /*background-color: #ff3f41;*/
    border-color: #2F94DA;
    /*border-color: #ff0c00;*/
}

.game img {
    width: 250px;
}

.header {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.header img {
    width: 200px;
}

.gameList .selected {
    background-color: #87CDDE;
    color: #1268da;
}

.gameList div {
    background-color: #87CDDE;
    color: #2F94DA;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bolder;
}

.container > div{
    display: inline-block;
    vertical-align: top;
    width: 49%;
    text-align: center;
}

.scrollbar-container {
    display: flex;
}

.scrollbar-container > div:first-child {
    width: 90%;
}

.scrollbar-container > div:last-child {
    flex: 1;
    width: 8%;
}

.scrollbar {
    position: relative;
    margin-left: 5px;
}

.scrollbar > div:first-child {
    top: 0;
}

.scrollbar > div:last-child {
    position: absolute;
    bottom: 10px;
}

.embiggen {
    font-size: 40px;
    text-transform: capitalize;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.splash {
    text-align: center;
}

.up-arrow {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid #1268da;
}

.down-arrow {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #1268da;
}

/* Dark text #AC9D93 */
/* Light text #C8BEB7 */
